

body {
  font-family: "IBM Plex Sans", sans-serif;
  width: 100%,

}

a {
    color: white; 
    text-decoration: none; 
  }
  
  a:hover {
    color: black; /* Change 'red' to the desired color for hover effect */
  }

  .background {
    background: #232323;
    overflow: hidden;
  }

.container,
.section2,
.section3,
.section4, 
.section5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
}

.container__headline  {
  font-size: 5vmin;
}

.scroll-to-view-projects {
  font-size: 2.5vmin;
  margin-top: 10%;
  color: #ccc;
}

.hero,
.section2,
.section3,
.section4 {
    margin-bottom: 50px; 
  }

.hero__inner,
.section2__inner,
.section3__inner,
.section4__inner,
.section5__inner {
  display: flex;
  position: relative;
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
  }
}

.hero__image, 
.section2__image,
.section3__image,
.section4__image,
.section5__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__content,
.section2__content,
.section3__content,
.section4__content,
.section5__content {
  display: none;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 100%;
}

.hero__headline,
.section2__headline,
.section3__headline,
.section4__headline,
.section5__headline {
  --padding: 1.5vmin;
  --duration: 200ms;
  --delay: calc(var(--duration) / 2);
  --ease: cubic-bezier(0.25, 1, 0.5, 1);

  position: relative;
  display: inline-block;
  font-size: 5vmin;
  overflow: hidden;
  padding: var(--padding);
  text-align: center; /* Added text-align to center the text */
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: calc(100% - var(--padding));
    left: 0;
    background-color: white;
    width: 100%;
    height: 1.5vmin;
    transform: scaleX(0);
    transition: transform var(--duration) var(--delay) var(--ease);
  }

  span {
    display: block;
    transform: translateY(110%);
    transition: transform var(--duration) var(--ease);
  }

  .active & {
    &::after {
      transform: scaleX(1);
      transition-delay: 0s;
    }
    span {
      transform: translateY(0);
      transition-delay: var(--delay);
    }
  }
}

.section5 {
  margin-bottom: 0; 
}